{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
Поиск тегов
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% if tags %}
<table>
{% for tag in tags %}
    <tr><td><a href="{{path('searchMedia',{(prefix ~ '[tagName]'): tag.name})}}"> {{ tag.name }}</a></td>
        <td>{{ tag.media_count }}</td>
    </tr>
{% else %}
No tags found
{% endfor %}
</table>
{% endif %}
{% endblock %}