{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
Поиск постов
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{{ form_start(form2) }}
{{ form_widget(form2) }}
{{ form_end(form2) }}
{% if posts %}
    <a href="{{nextPageUrl}}">Далее</a>
    <hr>
<table border="1">
    {% for key,post in posts %}
    <tr>
    <td rowspan="7"><img src={{ attribute(post.images,size).url }}></td>
    <td>Список тегов</td>
    <td>{% for tag in post.tags %}<a href="{{tag}}/"> #{{tag}}</a>{% endfor %}</td>    
    </tr>
<tr><td nowrap>Ссылка на фотографию в инстаграм</td><td><a href="{{post.link}}">{{post.link}}</a></td></tr>
<tr><td nowrap>Ссылка на профиль пользователя</td><td><a href="https://instagram.com/{{post.user.username}}">{{post.user.username}}</a></td></tr>
<tr><td nowrap>Число лайков:</td><td>{{post.likes.count}}</td></tr>
<tr><td nowrap>Число комментариев:</td><td>{{post.comments.count}}</td></tr>
<tr><td nowrap>user id</td><td><a href="{{post.user.id}}/">{{post.user.id}}</a></td></tr>
<tr><td nowrap>Дата загрузки:</td><td>{{post.created_time|date('Y-m-d H:i:s', 'GMT')}} GMT</td></tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
  {#<a href=\"/search/photos_by_tag/$tag/{$last_id}/$format\">next</a>#}
