{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
    {% if erorMsg is defined%}
        {{errorMsg}}
    {%endif %}
     {% if accountId is defined%}
        {{accountId}}
    {%endif %}
        
Поиск постов
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
  {#<a href=\"/search/photos_by_tag/$tag/{$last_id}/$format\">next</a>#}
