{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
    {{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
    {% if accounts %}
        {% for account in accounts %}
            {{ account.accountId }}<br>
{% endfor %}
{% endif %}

{% endblock %}
